<h2>List of ratings</h2>

<p>
  <%= link_to "Add New Raiting", new_rating_path %>
</p>

<ul>
 <% @ratings.each do |rating| %>
   <li> 
      <p>
        <%= rating.to_s %> -- from user <%= link_to rating.user.username, rating.user%>
      </p>
    </li>
 <% end %>
</ul>