<h2>List of ratings</h2>

<p>
  <%= link_to "Add New Raiting", new_rating_path %>
</p>

<ul>
 <% @ratings.each do |rating| %>
   <li> 
      <p>
        <%= rating.to_s %>
        <%= button_to 'Delete', rating, method: :delete, form: { data: { turbo_confirm: "Do you want to remove #{rating.to_s}?" } }%> 
      </p>
    </li>
 <% end %>
</ul>